{{ define "main" }}

    <div id="splash">
        <div class="container">
            <div class="title">Economically Woke</div>
            <div class="subtitle">Become a better investor by understanding money and economics with data.</div>
            <div class="subtext">
                Economically Woke is an evolving online book inspired by my
                adventures in the land of money, economics and investing.
                You can learn more about who I am through my <a href="https://www.linkedin.com/in/adrianletchford/" target="_blank">LinkedIn</a>.
            </div>
        </div>
    </div>

    <!-- {{- partial "signupform.html" . -}} -->

    <div id="sections">
        <div class="container wide">
            {{ range (sort (where .Site.Sections "draft" "!=" "true") ".Params.part" "asc") }}
                <div class="section">
                    <div class="number">PART {{ .Params.part }}</div>
                    <div class="title">{{ .Title }}</div>
                    <div class="content">{{ .Content }}</div>
                </div>
            {{ end }}
        </div>
    </div>

{{ end }}