{{ define "main" }}

    <div id="splash">
        <div class="container">
            <div class="title">Economically Woke</div>
            <div class="subtitle">Become a better investor by understanding<br />money and economics with data.</div>
            <div class="subtext">
                Economically Woke is an evolving online book written based<br />
                on my learnings. You can learn more about who I am through<br />
                my LinkedIn.</div>
        </div>
    </div>

    {{- partial "signupform.html" . -}}

{{ end }}