/* ----------------------------------------------------------------------------
Global styles
---------------------------------------------------------------------------- */
html {
    height: 100%;
}

body {
    background-color: #FAFAFA;
    color: #3c3c3c;
    font-family: "Source Sans Pro", sans-serif;
    height: 100%;
    font-size: 16px;
}

@media (max-width:450px) {
    body {
        font-size: 10px;
    }
}

@media (max-width:300px) {
    body {
        font-size: 8px;
    }
}

.container {
    max-width: 750px;
}

.container.wide {
    max-width: 1200px;
}

a {
    color: #EB5757;
}

a:hover {
    color: #EB5757;
}

#content img {
    width: 100%;
    margin: 4rem 0;
    display: block;
}

#content {
    min-height: 100%;
    /* padding-bottom: 8rem; */
}

h1 {
    font-size: 2.25rem;
    font-weight: 700;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 40pt;
    margin-bottom: 10pt;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 20pt;
    margin-bottom: 10pt;
}

/* ----------------------------------------------------------------------------
Nav bar
---------------------------------------------------------------------------- */

.nav-container {
    margin-top: 0px;
    padding: 10px 0px 10px 0px;
    background-color: white;
}

.navbar-brand {
    font-weight: 700;
    font-size: 1.1rem;
}

nav.navbar .social img {
    width: 20px;
}

nav .a:hover {
    color: black;
}


/* ----------------------------------------------------------------------------
Splash
---------------------------------------------------------------------------- */

#splash {
    text-align: center;
    background-color: #F3F1E7;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
#splash .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#splash .title {
    font-size: 5em;
    line-height: 1.25em;
    font-weight: 700;
    color: #EB5757;
}

#splash .subtitle {
    font-size: 2em;
    font-weight: 600;
    color: #2F2235;
    margin-top: 1rem;
    max-width: 600px;
}

#splash .subtext {
    font-size: 1em;
    font-weight: 400;
    color: #2F2235;
    margin-top: 1.1rem;
    max-width: 410px;
}


@media (max-width:450px) {
    #splash .subtitle {
        max-width: 300px;
    }
    
    #splash .subtext {
        font-size: 1.25em;
        max-width: 250px;
    }
}

/* ----------------------------------------------------------------------------
Sections
---------------------------------------------------------------------------- */

#sections {
    background-color: #F3F1E7;
    overflow: auto;
}

#sections .number {
    text-align: center;
    font-weight: 800;
    font-size: 1.25em;
    color: #EB5757;
}

#sections .title {
    text-align: center;
    font-weight: 800;
    font-size: 3em;
    margin-bottom: 2rem;
}

.section {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.section .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

/* ----------------------------------------------------------------------------
Page link
---------------------------------------------------------------------------- */

.pagelink {
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.33);
    border-radius: 5px;
    padding: 40px;
    padding-top: 20px;
    width: 300px;
    display: block;
    position: relative;
}

.pagelink:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.75);
}

.pagelink:hover .pagelink-title {
    color: #EB5757;
}

.pagelink.disabled:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.33);
    cursor: default;
}

.pagelink.disabled:hover .pagelink-title {
    text-decoration: none;
    color: black;
}

.pagelink-title {
    font-size:1.3em;
    font-weight: 600;
    color: black;
    display: block;
    text-align: center;
}

.pagelink-subtitle {
    font-size: 1em;
    font-weight: 400;
    color: #00000079;
    display: block;
    text-align: center;
}

#content .pagelink .img-container {
    margin: 0;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
}

#content .pagelink img {
    margin: 0;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#content .pagelink .draft-label,
#content .pagelink .no-content-label {
    width: 70px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}


#content .pagelink .draft-label {
    background-image: url(/img/draft.png);}

#content .pagelink .no-content-label {
    background-image: url(/img/no_content.png);
}


@media (max-width:450px) {
    .pagelink-title {
        font-size:2em;
    }
    .pagelink-subtitle {
        font-size: 1.5em;
    }
}


/* ----------------------------------------------------------------------------
Page
---------------------------------------------------------------------------- */

#page_header {
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin-bottom: 5rem;
    text-align: center;
    background-color: #F3F1E7;
}

#page_header img {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

#page_header h1.title {
    font-size: 4em;
    font-weight:700;
    margin-bottom: 10pt;
    display: block;
}
#page_header span.subtitle {
    font-size: 2.5rem;
    font-weight: 300;
    display: block;
}

.article-meta {
    font-size: 1.1rem;
    font-weight: 300;
    display: block;
    color: #4F4F4F;
    text-align: center;
    margin-top: 20pt;
    margin-bottom: 20pt;
}

/* condition for screen size minimum of 500px
@media (max-width:450px) {

  
    #page_header h1.title {
        font-size: 3em;
    }
  
} */

#page_content {
    margin-bottom: 10rem;
    font-size: 1.4rem;
    line-height: 1.75em;
    font-weight: 200;
    margin-left: 25px;
    margin-right: 25px;
}

#page_content > * {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

#page_content .plot {
    margin-top: 2em;
    margin-bottom: 2em;
}

#page_content .plot.wide {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:450px) {
    #page_header {
        padding-top: 5rem;
        padding-bottom: 5rem;
        margin-bottom: 5rem;
    }
    #page_header img {
        max-width: 300px;
        max-height: 300px;
    }
    #page_header span.subtitle {
        font-size: 1.5rem;
    }
    .article-meta {
        font-size: 1rem;
    }
    #page_content {
        font-size: 1.2rem;
        line-height: 1.5em;
    }
}

/* ----------------------------------------------------------------------------
Footer
---------------------------------------------------------------------------- */

footer {
    background-color: #F3F1E7;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 300;
    font-size: 0.8rem;
}

.footer-signup {
    background-color: #b9d6f2;
    color: #003559;
    padding-top: 8rem;
    padding-bottom: 8rem;
    margin-top: 4rem;
}

.footer-signup .callout {
    font-size: 3em;
    font-weight:700;
    margin-bottom: 20pt;
    display: block;
    text-align: center;
}

.footer-signup .subcallout {
    font-size: 1.5em;
    font-weight: 300;
    display: block;
}


/* ----------------------------------------------------------------------------
Signup form
---------------------------------------------------------------------------- */


.signup {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.signup .calltoaction {
    text-align: center;
    margin: 5rem;
    font-size: 2.5rem;
    line-height: 1.25em;
    font-weight: 700;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.signup .highlight {
    color: #EB5757;
}

.signup .form-control {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    border: 0px;
    border-bottom: 1px solid #EB5757;
    background-color: transparent;
    font-weight: 100;
    border-radius: 0px;
}

.signup .form-control:focus {
    border: 0px solid transparent;
    box-shadow: 0px 0px 0px 1px red;
}

.signup .form-control::placeholder {
    color: #EB5757;
    opacity: 0.3;
}

.signup button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    height: 50px;
    font-weight: 400;
    font-size: 1.2em;
    background-color: transparent;
    border: 1px solid #EB5757;
    color: #EB5757;
    border-radius: 2px;
    border-radius: 5px;
}

.signup button:hover {
    background-color: #EB5757;
    border: 1px solid #EB5757;
}

.signup .signup-form {
    justify-content: center;
    display: flex;
}

@media (max-width:450px) {
    .signup .calltoaction {
        font-size: 2rem;
    }

    .signup button {
        margin-left: 0px;
        margin-top: 40px;
        font-size: 1.5em;
    }

    .signup .signup-form {
        flex-direction: column;
    }
}

/* ----------------------------------------------------------------------------
Other
---------------------------------------------------------------------------- */

.math {
    font-size: 0.8em;
}

#content table {
    margin-left: auto; 
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 0.8em;
    text-align: center;
}

#content table th {
    background-color: #f3f3f3;
    padding: 4pt 20pt;
}

#content table td {
    padding: 4pt 20pt;
}

#content figure {
    margin-bottom: 2rem;
}

#content .katex { /* Inline math */
    font-size: 1.2em;
}

#content .katex-display { /* Block math */
    margin-top: 20pt;
    margin-bottom: 20pt;
    margin: 4rem 0;
    display: block;
}

#content .katex-display .katex { /* Block math */
    font-size: 1.2em;
}

@media (max-width:450px) {
    #content table th {
        padding: 4pt 4pt;
    }
    
    #content table td {
        padding: 4pt 4pt;
    }
}