/* ----------------------------------------------------------------------------
Global styles
---------------------------------------------------------------------------- */
html {
    height: 100%;
}

body {
    background-color: #FDFDFD;
    font-family: "Source Sans Pro", sans-serif;
    height: 100%;
    font-size: 18px;
}

@media (max-width:450px) {
    body {
        font-size: 10px;
    }
}

@media (max-width:300px) {
    body {
        font-size: 8px;
    }
}

.container {
    max-width: 1000px;
}

.container.wide {
    max-width: 1200px;
}

a {
    color: #374D9E;
}

a:hover {
    color: #EB5757;
    text-decoration: none;
}

#content img {
    width: 100%;
    margin: 4rem 0;
    display: block;
}

#content {
    min-height: 100%;
    /* padding-bottom: 8rem; */
}

h1 {
    font-size: 2.25rem;
    font-weight: 700;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 40pt;
    margin-bottom: 10pt;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 20pt;
    margin-bottom: 10pt;
}

/* ----------------------------------------------------------------------------
Nav bar
---------------------------------------------------------------------------- */

.nav-container {
    margin-top: 0px;
    padding: 10px 0px 10px 0px;
    background-color: white;
}

.navbar-brand {
    font-weight: 700;
    font-size: 1.1rem;
}

nav.navbar .social img {
    width: 20px;
}

nav .a:hover {
    color: black;
}


/* ----------------------------------------------------------------------------
Splash
---------------------------------------------------------------------------- */

#splash {
    background-color: #FBECB7;
    overflow: hidden;
    padding: 5rem;
    border-bottom: 1px solid black;
    border-top: 1px solid #D2D2D2;
}
#splash .container {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}

#splash .title {
    font-size: 4em;
    line-height: 1em;
    font-weight: 700;
    margin-bottom: 3.5rem;
}

#splash .subtitle {
    font-size: 1.3em;
    font-weight: 600;
    color: #2F2235;
    margin-bottom: 0.5rem;
    max-width: 600px;
}

#splash .subtext {
    font-weight: 300;
    max-width: 350px;
}


@media (max-width:450px) {
    #splash .subtitle {
        max-width: 300px;
    }
    
    #splash .subtext {
        font-size: 1.25em;
        max-width: 250px;
    }
}

/* ----------------------------------------------------------------------------
Sections
---------------------------------------------------------------------------- */

#sections {
    overflow: auto;
}

#sections .number {
    text-align: center;
    font-weight: 800;
    font-size: 1.25em;
    color: #EB5757;
}

#sections .title {
    text-align: center;
    font-weight: 800;
    font-size: 2.5em;
    margin-bottom: 4rem;
}

.section {
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.section .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

/* ----------------------------------------------------------------------------
Chapters
---------------------------------------------------------------------------- */

/* Three columns */
.section .chapters {
    display: flex;
    flex-flow: row wrap;
}
.section .chapters .chapter {
    /* flex-grow: 1; */
    width: 33%;
}

/* ----------------------------------------------------------------------------
Chapter
---------------------------------------------------------------------------- */
#sections .chapter {
    display: flex;
    flex-flow: row;
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
    margin-bottom: 2.5rem;
}

#sections .chapter:hover .front {
    text-decoration: underline;
}

#sections .chapter .number {
    font-size: 1.3em;
    font-weight: 700;
    color: #BFBFBF;
    padding-right: 10px;
}

#sections .chapter .title {
    font-size: 1.3em;
    text-align: left;
    margin-bottom: 0.3rem;
}


/* ----------------------------------------------------------------------------
Page (Single)
---------------------------------------------------------------------------- */
#single {
    border-top: 1px solid #EAEAEA;
}
#single p {
    text-align: justify;
}

#page_header {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#page_header .location {
    text-transform: uppercase;
    font-weight: 700;
    color: #646464;
    display: block;
    text-align: center;
}

#page_header .title {
    font-size: 2.5em;
    font-weight:700;
    display: block;
    text-align: center;
    margin-bottom: 2rem;
}

#page_header .blurb {
    display: block;
    width: 60%;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

#page_content {
    margin-bottom: 10rem;
    line-height: 1.5em;
    margin-left: 25px;
    margin-right: 25px;
}

#page_content > * {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

#page_content .plot {
    margin-top: 2em;
    margin-bottom: 2em;
}

#page_content .plot.wide {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:450px) {
    #page_header {
        padding-top: 5rem;
        padding-bottom: 5rem;
        margin-bottom: 5rem;
    }
    #page_header img {
        max-width: 300px;
        max-height: 300px;
    }
    #page_header span.subtitle {
        font-size: 1.5rem;
    }
    .article-meta {
        font-size: 1rem;
    }
    #page_content {
        font-size: 1.2rem;
        line-height: 1.5em;
    }
}

@media (max-width:1000px) {
    #page_content > * {
        max-width: 600px;
    }
}

/* ----------------------------------------------------------------------------
Footer
---------------------------------------------------------------------------- */

footer {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 300;
    font-size: 0.8rem;
    background-color: white;
    border-top: 1px solid #EAEAEA;
}

/* ----------------------------------------------------------------------------
Signup form
---------------------------------------------------------------------------- */


.signup {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.signup .calltoaction {
    text-align: center;
    margin: 5rem;
    font-size: 2.5rem;
    line-height: 1.25em;
    font-weight: 700;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.signup .highlight {
    color: #EB5757;
}

.signup .form-control {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    border: 0px;
    background-color: #F2F5F8;
    font-weight: 100;
    border-radius: 40px;
}

.signup .form-control:focus {
    border: 0px solid transparent;
    box-shadow: 0px 0px 0px 1px #6083A9;
}

.signup .form-control::placeholder {
    color: #3c3c3c;
    opacity: 0.5;
}

.signup button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    font-weight: 400;
    font-size: 1.2em;
    background-color: #86A776;
    border: 1px solid #86A776;
    color: white;
    border-radius: 2px;
    border-radius: 40px;
    margin-top: 2.5rem;
    margin-right: auto;
    margin-left: auto;
}

.signup button:hover {
    background-color: #607854;
    border: 1px solid #607854;
}

.signup .signup-form {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

@media (max-width:450px) {
    .signup .calltoaction {
        font-size: 2rem;
    }

    .signup button {
        font-size: 1.5em;
    }
}

/* ----------------------------------------------------------------------------
Other
---------------------------------------------------------------------------- */

.math {
    font-size: 0.8em;
}

#content table {
    margin-left: auto; 
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 0.8em;
    text-align: center;
}

#content table th {
    background-color: #f3f3f3;
    padding: 4pt 20pt;
}

#content table td {
    padding: 4pt 20pt;
}

#content figure {
    margin-bottom: 2rem;
}

#content .katex { /* Inline math */
    font-size: 1.2em;
}

#content .katex-display { /* Block math */
    margin-top: 20pt;
    margin-bottom: 20pt;
    margin: 4rem 0;
    display: block;
}

#content .katex-display .katex { /* Block math */
    font-size: 1.2em;
}

@media (max-width:450px) {
    #content table th {
        padding: 4pt 4pt;
    }
    
    #content table td {
        padding: 4pt 4pt;
    }
}