<div class="signup">
    <div class="container">

        <div class='calltoaction'><span class="highlight">Signup</span> to be notified when we create new material.</div>

        <form action="" method="POST">
            <div class="d-flex justify-content-center">
                <input type="hidden" name="u" value="0b89722691a12971aa7cf0a06">
                <input type="hidden" name="id" value="ae08eeda0b">

                <input type="text" class="form-control flex-grow-1" placeholder="email address" name="MERGE0" id="MERGE0" />

                <button type="submit" class="btn btn-primary">Subscribe</button>
            </div>
        </form>

    </div>
</div>