<div class="signup">
    <div class='calltoaction'>Signup to be notified when we create new material.</div>

    <form class="signup-form" action="https://economicallywoke.us7.list-manage.com/subscribe/post" method="POST">
        <div class="signup-form">
            <input type="hidden" name="u" value="0e964babf9acc32891ca62920">
            <input type="hidden" name="id" value="d0396ef540">

            <input type="text" class="form-control flex-grow-1" placeholder="email address" name="MERGE0" id="MERGE0" />

            <button type="submit" class="btn btn-primary">Subscribe</button>
        </div>
    </form>
</div>